/* Keep Soledago and SF Pro commented until we move fonts under src or copy to public root consistently */
/* @font-face {
  font-family: 'Soledago';
  src: url('/fonts/Soledago.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('/fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'WADIK';
  src: url('../public/fonts/Wadik.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}